.out{
    width: 800px;
    height: 350px;
    box-sizing: border-box;
    background-color: rgb(13, 36, 80);
    color: white;
    margin-left: 20%;
    margin-bottom: 0;
    

    form{
        margin-top: 5%;
        margin-right: 20px;
        margin-left: 20px;
    }
}