<div class="outertab">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let user of userd">
          <th scope="row">{{user.id}}</th>
          <td>{{user.name}}</td>
          <td>{{user.age}}</td>
          <td>{{user.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>