
.login{
    display: flex;
    width: 30%;
    margin-top: 80px;
    margin-left: 35%;
    background-color:rgb(6, 29, 71);
    border-radius: 25px;
    height: 400px;
    color: white;
    box-shadow: rgb(44, 78, 141);
    position:absolute;
    .form{
      margin-right: 20px;
      margin-left: 20px;
    }
    
  }
  