/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(149, 190, 202);
}
*{
    margin:0;
    padding: 0;
    
}
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
